<h1 class="animate__animated animate__pulse">Gráfica de Barra</h1>
<hr>
<div class="row animate__animated animate__jello">
  <div class="col">

        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>
        <button (click)="randomize()"
                 class="btn btn-primary float-end">
          Actualizar
        </button>

  </div>
</div>



